.DashboardRoot{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gridContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem;
  width: 70%;
  margin: 2rem auto;
}
.expandBtn{
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--peach);
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .gridContainer{
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (max-width: 650px) {
  .gridContainer{
    grid-template-columns: repeat(1,1fr);
  }
}