@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --grey: #383737;
  --darkgrey: #2e2c2c;
  --black: #181717;
  --white: #ffffff;
  --peach: #f2d492;
  --orange: #f29559;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--grey);
  color: var(--white);
  font-family: Inter;
}
